<ion-view view-title="Post a Brief" class="briefPage">
	<ion-nav-bar class="bar-stable brief-bg">
		<ion-nav-back-button class="button-icon button-clear icon ion-chevron-left">
		</ion-nav-back-button>
		<ion-nav-buttons side="left">
	        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
	        </button>
      	</ion-nav-buttons>
	</ion-nav-bar>
  <ion-content>
  <div class="sub-header">
  	
  </div>
	<div class="col">
		<div class="row">
			<div class="col"><h4>Categories</h4></div>
		</div>
		<div class="list list-inset">
			<a href="" class="item item-icon-left item-text-wrap">
				<i class="icon ion-mic-a positive"></i>
				Advertising
				<span class="badge badge-assertive">652</span>
			</a>
			<a href="" class="item item-icon-left item-text-wrap">
				<i class="icon ion-mic-a positive"></i>
				Agriculture
				<span class="badge badge-assertive">1159</span>
			</a>
			<a href="" class="item item-icon-left item-text-wrap">
				<i class="icon ion-mic-a positive"></i>
				Bookshops
				<span class="badge badge-assertive">366</span>
			</a>
		</div>
		<button class="button button-block button-positive btnloadmore">
		  <i class="icon ion-load-a">&nbsp;</i> Loading more Categories
		</button>
	</div>

	<div class="col">
		<div class="row">
			<div class="col col-100"><h4>Featured Businesses</h4></div>
		</div>  	
		<div class="list">
		    <a class="item item-thumbnail-left" href="#">
		      <img ng-src="http://themarketplace.ng/uploads/thumbs/eko_hotel_6.jpg">
		      <h2>Lovekay Photographer</h2>
		      <p><i class="icon ion-location padding-right"> Agidingbi</i></p>
		      <p><i class="icon ion-android-call padding-right"> +2348026756655</i></p>
		      <div>
		      	<span class="">
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      	</span>
		      </div>
		    </a>
		</div>
		<div class="list">
		    <a class="item item-thumbnail-left" href="#">
		      <img ng-src="http://themarketplace.ng/uploads/thumbs/Page_1.jpg">
		      <h2>First Aid by Levande</h2>
		      <p><i class="icon ion-location padding-right"> Agidingbi</i></p>
		      <p><i class="icon ion-android-call padding-right"> +2348026756655</i></p>
		      <div>
		      	<span class="">
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      	</span>
		      </div>
		    </a>
		</div>
		<div class="list">
		    <a class="item item-thumbnail-left" href="#">
		      <img ng-src="http://themarketplace.ng/uploads/thumbs/Apple_Leather_Sofa.jpg">
		      <h2>Alibert Products Nigeria Ltd</h2>
		      <p><i class="icon ion-location padding-right"> Agidingbi</i></p>
		      <p><i class="icon ion-android-call padding-right"> +2348026756655</i></p>
		      <div>
		      	<span class="">
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      	</span>
		      </div>
		    </a>
		</div>
		<button class="button button-block button-positive btnloadmore">
		  <i class="icon ion-load-a">&nbsp;</i> Loading more Featured Businesses
		</button>
	</div>
	

	<div class="col">
		<div class="row">
			<div class="col col-100"><h4>Top Rated Businesses</h4></div>
		</div>  	
		<div class="list">
		    <a class="item item-thumbnail-left" href="#">
		      <img ng-src="http://themarketplace.ng/uploads/thumbs/lan-can-cau-thang-bang-kinhctk3.jpg">
		      <h2>STEEPLUM GLASS</h2>
		      <p><i class="icon ion-location padding-right"> Ojota</i></p>
		      <p><i class="icon ion-android-call padding-right"> +2348026756655</i></p>
		      <div>
		      	<span class="">
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      	</span>
		      </div>
		    </a>
		</div>
		<div class="list">
		    <a class="item item-thumbnail-left" href="#">
		      <img ng-src="http://themarketplace.ng/uploads/thumbs/IMG_0866[1].JPG">
		      <h2>Tiffy Dis N Dat Clothier</h2>
		      <p><i class="icon ion-location padding-right"> Anthony</i></p>
		      <p><i class="icon ion-android-call padding-right"> +2348026756655</i></p>
		      <div>
		      	<span class="">
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      	</span>
		      </div>
		    </a>
		</div>
		<div class="list">
		    <a class="item item-thumbnail-left" href="#">
		      <img ng-src="http://themarketplace.ng/uploads/thumbs/ozmosis-aromisa.png">
		      <h2>Ozmosis Services</h2>
		      <p><i class="icon ion-location padding-right"> urulere</i></p>
		      <p><i class="icon ion-android-call padding-right"> +2348026756655</i></p>
		      <div>
		      	<span class="">
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      		<i class="icon ion-ios-star-outline"></i>
		      	</span>
		      </div>
		    </a>
		</div>
		<button class="button button-block button-positive btnloadmore">
		  <i class="icon ion-load-a">&nbsp;</i> Loading more Top Rated Businesses
		</button>
	</div>
  </ion-content>
</ion-view>
