<ion-view view-title="Marketplace" class="shop-details">
	
  <ion-content>
 	<div class="list">
	 	<div class="bar bar-header item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="Search">
		  </label>
		  <button class="btn btn-sm deals-bg">
		    search
		  </button>
		</div>
	</div>
	<div class="details">
		<div class="card">
		    <div class="product-img">
		        <img src="img/ben.png" class="img-fluid" alt="">
		    </div>
		    <div class="card-block">
		        <!--Title-->
		        <h5 class="card-title text-center">Card title</h5>
		    </div>
		    <!--/.Card content-->
		    <!-- Card footer -->
		    <div class="card-data">
		    	<p class="price padding text-center"><span>&#8358;</span>2000</p>
		    </div>
		</div>
		<div class="card padding">
			<h5 class="card-title">Description</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore inventore laborum explicabo quibusdam atque provident, delectus fuga repellendus voluptates iure rem aliquid vel necessitatibus sequi fugit porro molestiae. Fuga, eaque.</p>
		</div>
		<div class="list card">
			<div class="padding">
				<h5 class="card-title">Seller Information</h5>
			</div>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/adam.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <b>ADGOBB FOODS</b>
		    </a>
		    <div class="padding">
		    <p>Country: Nigeria</p>
		      <p>Region/State: Abuja</p>
		      <p>Company: ADGOBB FOODS</p>
		      <p>Phone: 2348064200310</p>
		    </div>
		     
		</div>
	</div>   
  </ion-content>
</ion-view>
