<ion-view view-title="Resources" class="resourcesHome">
	<ion-nav-bar class="bar-stable resources-bg">
		<ion-nav-back-button class="button-icon button-clear icon ion-chevron-left">
		</ion-nav-back-button>
		<ion-nav-buttons side="left">
	        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
	        </button>
      	</ion-nav-buttons>
	</ion-nav-bar>
  <ion-content>
	<div class="details">
		<div class="card">
		    <div class="product-img">
		        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/coding.jpg" class="img-fluid" alt="">
		    </div>
		    <div class="card-block">
		        <!--Title-->
		        <h5 class="card-title text-center">Learning and Development</h5>
		    </div>
		    <!--/.Card content-->
		</div>
	</div>   
	<div class="details">
		<div class="card">
		    <div class="product-img">
		        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/bizassist.jpg" class="img-fluid" alt="">
		    </div>
		    <div class="card-block">
		        <!--Title-->
		        <h5 class="card-title text-center">Business and Assist</h5>
		    </div>
		    <!--/.Card content-->
		</div>
	</div> 
	<div class="details">
		<div class="card">
		    <div class="product-img">
		        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/biztool.png" class="img-fluid" alt="">
		    </div>
		    <div class="card-block">
		        <!--Title-->
		        <h5 class="card-title text-center">Business Tools</h5>
		    </div>
		    <!--/.Card content-->
		</div>
	</div>   
  </ion-content>
</ion-view>
