<ion-view view-title="Resources" class="resourcesDetails">
	<ion-nav-bar class="bar-stable resources-bg">
		<ion-nav-back-button class="button-icon button-clear icon ion-chevron-left">
		</ion-nav-back-button>
	</ion-nav-bar>
 	<ion-content>
	 	<div class="list">
		 	<div class="bar bar-header item-input-inset">
			  <label class="item-input-wrapper">
			    <i class="icon ion-ios-search placeholder-icon"></i>
			    <input type="search" placeholder="Search">
			  </label>
			  <button class="btn btn-sm resources-bg">
			    search
			  </button>
			</div>
		</div>
	
		<div class="row">
			<div class="col col-50">
				<a class="card" ui-sref="themarketplace.resources_details_info">
				    <div class="product-img">
				        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/faccounting.jpg" class="img-fluid" alt="">
				    </div>
				    <div class="card-block">
				        <!--Title-->
				        <h5 class="card-title text-center">Finance and Accounting</h5>
				    </div>
				    <!--/.Card content-->
				</a> 
			</div>
			<div class="col col-50">
				<a class="card" ui-sref="themarketplace.resources_details_info">
				    <div class="product-img">
				        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/marketing.jpg" class="img-fluid" alt="">
				    </div>
				    <div class="card-block">
				        <!--Title-->
				        <h5 class="card-title text-center">Marketing</h5>
				    </div>
				    <!--/.Card content-->
				</a> 
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<a class="card" >
				    <div class="product-img">
				        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/pm.jpg" class="img-fluid" alt="">
				    </div>
				    <div class="card-block">
				        <!--Title-->
				        <h5 class="card-title text-center">Project Management</h5>
				    </div>
				    <!--/.Card content-->
				</a> 
			</div>
			<div class="col col-50">
				<a class="card" ui-sref="themarketplace.resources_details_info">
				    <div class="product-img">
				        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/law.jpg" class="img-fluid" alt="">
				    </div>
				    <div class="card-block">
				        <!--Title-->
				        <h5 class="card-title text-center">Legal</h5>
				    </div>
				    <!--/.Card content-->
				</a> 
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<a class="card" ui-sref="themarketplace.resources_details_info">
				    <div class="product-img">
				        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/WB.jpg" class="img-fluid" alt="">
				    </div>
				    <div class="card-block">
				        <!--Title-->
				        <h5 class="card-title text-center">Women in Business</h5>
				    </div>
				    <!--/.Card content-->
				</a> 
			</div>
			<div class="col col-50">
				<a class="card" ui-sref="themarketplace.resources_details_info">
				    <div class="product-img">
				        <img ng-src="http://themarketplace.ng/application/modules/themes/views/default/assets/img/agric2.jpg" class="img-fluid" alt="">
				    </div>
				    <div class="card-block">
				        <!--Title-->
				        <h5 class="card-title text-center">Agriculture</h5>
				    </div>
				    <!--/.Card content-->
				</a> 
			</div>
		</div>
  	</ion-content>
</ion-view>
