<ion-view view-title="Community" class="community">
	<ion-nav-bar class="bar-stable community-bg">
		<ion-nav-back-button class="button-icon button-clear icon ion-chevron-left">
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
  	</ion-nav-buttons>
 	<ion-content>
 		<div class="list card">
			<div class="item item-avatar">
				<img src="img/perry.png">
				<h3>Pretty Hate Machine</h3>
				<p>5m ago</p>
			</div>
			<div class="item item-body">
				<h3 class="title">Community Task</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque deleniti sunt architecto atque aut reprehenderit vitae quia</p>
			</div>
			<div class="row">
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-ios-eye-outline"><span>3</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-chatboxes"><span>23</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-ios-time-outline"><span>2h</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left"href="#">
				    	<i class="icon ion-ios-undo-outline"  badge="3" ><span>10</span></i>
				  	</a>
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/perry.png">
				<h3>Pretty Hate Machine</h3>
				<p>5m ago</p>
			</div>
			<div class="item item-body">
				<h3 class="title">Community Task</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque deleniti sunt architecto atque aut reprehenderit vitae quia</p>
			</div>
			<div class="row">
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-ios-eye-outline"><span>3</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-chatboxes"><span>23</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-ios-time-outline"><span>2h</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left"href="#">
				    	<i class="icon ion-ios-undo-outline"  badge="3" ><span>10</span></i>
				  	</a>
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/perry.png">
				<h3>Pretty Hate Machine</h3>
				<p>5m ago</p>
			</div>
			<div class="item item-body">
				<h3 class="title">Community Task</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque deleniti sunt architecto atque aut reprehenderit vitae quia</p>
			</div>
			<div class="row">
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-ios-eye-outline"><span>3</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-chatboxes"><span>23</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left" href="#">
				    	<i class="icon ion-ios-time-outline"><span>2h</span></i>
				  	</a>
				</div>
				<div class="col col-25">
					<a class="item item-icon-left"href="#">
				    	<i class="icon ion-ios-undo-outline"  badge="3" ><span>10</span></i>
				  	</a>
				</div>
			</div>
		</div>
  	</ion-content>
</ion-view>
