<ion-view view-title="Community Detail" class="communitydetail">
	<ion-nav-bar class="bar-stable community-bg">
		<ion-nav-back-button class="button-icon button-clear icon ion-chevron-left">
		</ion-nav-back-button>
	</ion-nav-bar>
  <ion-content>
 	
	<div class="details">
		<div class="card">
			<div class="item item-avatar">
			    <img src="img/max.png">
			    <h2>Marty McFly</h2>
			    <p class="time">10min ago</p>
			</div>
			<h5 class="card-title text-center">Community Task | Lorem ipsum dolor sit amet, consectetur adipisicing elit</h5>
		   	<div class="item item-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque deleniti sunt architecto atque aut reprehenderit vitae quia</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquam, blanditiis accusamus quaerat, quisquam ea quasi iusto, enim voluptatem autem saepe consequuntur architecto totam temporibus corrupti ipsum explicabo facilis quos.</p>
			</div>
		   	<div class="list">
			 	<div class="item-input-inset">
				  <label class="item-input-wrapper">
				    <textarea name="" id="" cols="30" rows="1"></textarea>
				    <button class="btn btn-sm community-bg btn-comment">
					   <i class="icon ion-ios-paperplane-outline"></i>
					</button>
				  </label>
				  
				</div>
			</div>
		</div>
		<div class="comments">
			<div class="">
				<h5 class="card-title"><span class="badge">3</span>Comments</h5>
				<hr>
			</div>
			<div class="">
				<div class="list list-inset">
				    <a class="item item-avatar item-text-wrap" href="#">
				      <img src="img/perry.png">
				      <h2 class="author">Perry - <span class="time">10min ago</span></h2>
				      <p>Back off, man. I'm a scientist. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sunt recusandae rem architecto officia eius tempora officiis quo incidunt, ipsam distinctio sapiente atque libero, dolorum ex consequatur unde. Ea, cupiditate.</p>
				    </a>
				</div>
				<div class="list list-inset">
				    <a class="item item-avatar item-text-wrap" href="#">
				      <img src="img/ben.png">
				      <h2 class="author">Ben - <span class="time">10min ago</span></h2>
				      <p>Back off, man. I'm a scientist. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sunt recusandae rem architecto officia eius tempora officiis quo.</p>
				    </a>
				</div>
				<div class="list list-inset">
				    <a class="item item-avatar item-text-wrap" href="#">
				      <img src="img/mike.png">
				      <h2 class="author">Mike - <span class="time">10min ago</span></h2>
				      <p>Ipsa sunt recusandae rem architecto officia eius tempora officiis quo incidunt, ipsam distinctio sapiente atque libero, dolorum ex consequatur unde. Ea, cupiditate.</p>
				    </a>
				</div>
			</div>
		</div>
		
	</div>   
  </ion-content>
</ion-view>
