<ion-view view-title="Lovekay Photographer" class="directoryDetails">
	<ion-nav-bar class="bar-stable dirctory-bg">
		<ion-nav-back-button class="button-icon button-clear icon ion-chevron-left">
		</ion-nav-back-button>
		<ion-nav-buttons side="left">
	        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
	        </button>
      	</ion-nav-buttons>
	</ion-nav-bar>
  <ion-content>
	<div class="details">
		<div class="card">
		    <div class="product-img">
		        <img src="img/ben.png" class="img-fluid" alt="">
		    </div>
		    <div class="card-block">
		        <!--Title-->
		        <h5 class="card-title text-center">Lovekay Photographer</h5>
		    </div>
		    <!--/.Card content-->
		</div>
		<div class="card padding">
			<div class="list">
				<a class="item item-icon-left" href="#">
					Added:
				<i class="icon ion-clock"></i>
					<span class="move-right">Jun 03, 2016</span>
				</a>
				<a class="item item-icon-left" href="#">
				    <i class="icon ion-email"></i>
				    <span class="move-right">info@imaginebusiness.com.ng</span>
				</a>
				<a class="item item-icon-left" href="#">
				    <i class="icon ion-ios-world-outline"></i>
				    <span class="move-right">imaginebusiness.com.ng</span>
				</a>
				<a class="item item-icon-left" href="#">
				    <i class="icon ion-ios-telephone-outline"></i>
				    <span class="move-right">+2348026756655</span>
				</a>
				<a class="item item-icon-left" href="#">
				  	Founded:
				    <i class="icon ion-key"></i>
				    <span class="move-right">2013</span>
				</a>
				<a class="item item-icon-left" href="#">
				  	Views:
				    <i class="icon ion-ios-eye-outline"></i>
				    <span class="move-right">22</span>
				</a>
				<a class="item item-icon-left" href="#">
				  	Featured:
				    <i class="icon ion-bookmark"></i>
				    <span class="move-right">2</span>
				</a>

			</div>
		</div>
		<div class="list card">
			<form action="">
				<div class="padding">
					<h5 class="card-title">Send Email to business</h5>
				</div>
			    <div class="list">
				  <label class="item item-input">
				    <input type="text" placeholder="Name">
				  </label>
				  <label class="item item-input">
				    <input type="text" placeholder="Email">
				  </label>
				  <label class="item item-input">
				    <input type="text" placeholder="Subject">
				  </label>
				  <label class="item item-input">
				    <textarea placeholder="Message"></textarea>
				  </label>
				</div>
				<button class="button button-block button-positive">
				  Submit
				</button>
			</form>
		</div>
	</div>   
  </ion-content>
</ion-view>
